body{
    background-color: rgb(220, 246, 212);
}
.tudo{
    flex-direction: column;
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    
}

