.container1{
    display: flex;
    padding: 20px;
    gap: 15px;
    justify-content: center;

}
body{
    background-color: rgb(215, 233, 207);
  
}

.receita{
    
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 40px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);

}

.box-of-good-good{
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    
}

@media (max-width:600px){
    .receita{
        font-size: 15px;
    }
    .box-of-good-good{
        display: grid;
        grid-template-columns: 3fr;
    }
    .container1{
        display: grid;
        grid-template-columns: repeat(1,2fr);

    }
}

.tu-tu-tubarão{
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    
}

/* Estilo padrão: a imagem aparece em telas grandes (desktop) */
.ocultar-no-mobile {
    display: block;
}

/* Media Query: esconde a imagem em telas menores que 600px */
@media screen and (max-width: 600px) {
    .ocultar-no-mobile {
        display: none;
    }
}


button{
    
    font-size: 40px;
    padding: 90px;
    
}
.but{
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    align-items: center;
}

@media (max-width:600px){
    button{
        
        font-size: 10px;
        padding: 20px;
    
}

}