/*ex 4*/
.menu{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 15px;
}

.menu a{
    color:white;
    text-decoration: none;
    }

@media (max-width:600px){
    .menu{
        flex-direction: column;
        align-items: center;
    }
}

.diva{
    display: grid;
    width:50%;
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(248, 104, 104);
    
}

body{
    background-color: rgb(186, 234, 212);
}


@media (max-width: 500px){
    .diva{
        width: 100%;
    }
}