.obj{
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    
}
body{
    background-color: rgb(186, 234, 212);
}

.caixas{
    display: grid;
    grid-template-columns: repeat(4,4fr);
}

@media (max-width:600px){
      .caixas{
        display: grid;
        grid-template-columns: repeat(1,2fr);

    }
}