
header{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(143, 36, 36);
    height: 50px;
    color: white;
    
}

header a{
    text-decoration: none;
    color: aliceblue;
}
body{
    background-color: rgb(196, 234, 180);
  
}

main{
    display: flex;
    margin: 40px;
    gap: 30;
    justify-content: space-evenly;
}

.text{
    width: 500px;
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(138, 29, 29);

}

.Imagem{
    border-radius: 40px;
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(138, 29, 29);
}

@media (max-width:600px){
    header{
        height: 80px;
        flex-direction: column;
    }
    main{
        gap: 30px;
        flex-direction: column;
    }
    img{
        height: 200px;
        height:  200px;
    }
}
