
body{
    background-color: rgb(166, 213, 230);
    text-align: center;
}
.box-of-good-good{
    background-color: rgb(252, 248, 194);
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 4px dashed rgb(255, 255, 255);
    
    
}


@media (max-width:600px){
    body{
        background-color: rgb(203, 241, 201);
        text-align: center;
    }
}

